//------------------------------------------------------------
// = GLOBAL
//------------------------------------------------------------
@import "bs"; 
@import "variables";
@import "typography";
@import "buttons";
@import "forms";
@import "css3-mixins";
@import "plugin/hover/hover";

body {text-size-adjust: 100%; -webkit-overflow-scrolling: touch; font-family: 'Roboto', sans-serif;}
body, input, select, textarea {font-size: 13px ; color: $black;}
h1, h2, h3, h4, h5, h6 {margin: 0; font-weight: 600;}
a {color: $black; text-decoration: none;}
a, input, select, textarea, :focus {outline: none !important;}
input, select, textarea, :focus {-webkit-appearance: none;}
img {border: 0;}
figure {margin: 0;}
ul {margin: 0; padding: 0; list-style: none;}
textarea {resize: none;}
strong { font-weight: 600;}
a{@include transition(all .5s ease-in-out);}
::selection {
	color: #fff;
	background: $jet;
}
::-moz-selection {
	color: #fff;
	background: $jet;
}
.clear{clear: both; display: block;}
.noscroll{overflow:hidden;}
body.home {background: #f9f9f9;}
//------------------------------------------------------------
// = LAYOUT
//------------------------------------------------------------

.site{
	display:block;
	float: left;
	width: $full;
	.nav-menu{
		display: block;
		width: $full;
		padding: 0 50px;
		position: absolute;
		height: 62px;
		top: 20px;
		z-index: 9;
		.logo{
			margin-top: 11px;
			@media all and (max-width:767px){
				position:relative;
				z-index:3;
			}
			img{
				&.bl{
					display: none;
				}
			}
		}
		.m-box{
			text-align: right;
			@media all and (max-width:767px){
				position:fixed;
				top:0;
				left:0;
				width:100%;
				height:100%;
				background:  #2e99d6;
				display:none;
				height: 100%;
			}
			@media all and (min-width:768px){
				display:inline-block !important;
			}
			.nav-content{
				display:block;
				width: 100%;
				@media all and (max-width:767px){
					display:table;
					position: absolute;
					left:0;
					height:100%;
				}
			}
			.menu{
				display: inline-block;
				margin-top: 22px;
				@media all and (max-width:767px){
					width: 100%;
					display: table-cell;
					vertical-align: middle;
				}
				
				li{
					display: inline-block;
					margin-right: 30px;
					@media all and (max-width:767px){
						width: 100%;
						display: block;
						text-align: center;
						margin-bottom: 40px;
					}
					&:last-child{
						margin-right: 0;
					}
					a{
						color: $white;
						font-size: $font-size-m;
						font-weight: 500;
						position: relative;
						@media all and (max-width:767px){
							font-size:$font-size-x;
						}
						&:before{
							content:"";
							width: 8px;
							height: 8px;
							background: $white;
							position: absolute;
							left:0;
							right:0;
							margin: 0 auto;
							bottom: -15px;
							@include transition(all .5s ease-in-out);
							@include border-radius(25px);
							@include opacity(0);
						}
						&:hover,&.active{
							text-decoration:none;
							&:before{
								@include opacity(1);
							}
						}
					}
				}
			}
		}
		.social{
			display: block;
			width: 100%;
			position: absolute;
			bottom: 20px;
			left: 0;
			text-align: center;
			ul{
				display: inline-block;
				li{
					display: inline-block;
					width:20px;
					height:20px;
					position: relative;
					margin-right: 10px;
					a{
						display: block;
						position: absolute;
						left:0;
						top:0;
						width: $full;
						height: $full;
					}
					&.fb{
						background: url(../images/home/fb.png) center no-repeat;
					}
					&.tw{
						background: url(../images/home/tw.png) center no-repeat;
					}
					&.you{
						background: url(../images/home/you.png) center no-repeat;
					}
				}
			}
		}
		&.black{
			.logo{
				img{
					display:none;
					&.bl{
						display:block;
					}
				}
			}
			.m-box{
				.menu{
					li{
						a{
							color:  #000;
							&:hover{
								color:$jet;
							}
							&:before{
								background: $jet;
							}
						}
					}
				}
			}
			#nav-ico{
				&.open{
					span{
						background: #fff;
					}
				}
				span{
					background: $jet;
				}
			}
		}
	}
	.home-banner{
		display:block;
		width: $full;
		height: 100vh;
		background: url(../images/home/home-banner.jpg)  no-repeat;
		@include background-size(cover);
		position: relative;
		.text{
			display:table;
			width: $full;
			height: 100vh;
			h1{
				display:table-cell;
				font-size: $font-size-xl;
				line-height: $font-size-xl-lh;
				color: $white;
				text-align: center;
				vertical-align: middle;
				//@include text-shadow(1px,1px,5px,$black);
				padding-left: 15px;
				padding-right: 15px;
				@media all and (max-width:480px){
					font-size: 22px;
					line-height: 26px;
				}
			}
		}
		.arrow{
			position: absolute;
			display: inline-block;
			width: 100px;
			text-align: center;
			color: $white;
			font-size: $font-size-m;
			bottom: 60px;
			z-index:1;
			left: 0;
			right: 0;
			margin: 0 auto;
			cursor: pointer;
			@media all and (max-width:767px){
				bottom:20px;
			}
			span{
				display: block;
				margin-bottom: 20px;
				font-size: 40px;
				line-height: 0;
				width: $full;
			}
			&:hover{
				//@include hacks();
				&:hover,
				&:focus,
				&:active {
					//@include prefixed(animation-name, #{$nameSpace}-wobble-vertical);
					@include prefixed(animation-duration, 1s);
					@include prefixed(animation-timing-function, ease-in-out);
					@include prefixed(animation-iteration-count, 1);
				}
			}
		}
	}
	.h-com{
		display: block;
		width: $full;
		margin-top: 40px;
		margin-bottom: 50px;
		h2{
			display: block;
			color: $black-1;
			font-size: $font-size-x;
			line-height: $font-size-x-lh;
			font-weight: normal;
			position: relative;
			padding-bottom: 50px;
			strong{
				font-weight: 600;
			}
			&:before{
				content:"";
				width: 8px;
				height:8px;
				background: $jet;
				position: absolute;
				left: 0;
				bottom: 0;
				@include border-radius(25px);
			}
		}
	}
	.home-work{
		display: block;
		width: $full;
		margin-bottom:140px;
		.item,.element-item{
			position: relative;
			margin-bottom: 30px;
			cursor: pointer;
			.box{
				position:relative;
				@include transition(all .2s ease-in-out);
			}
			&:hover{
				.box{
					margin-top: -10px
				}		
				
			}
			&.aig{
				&:hover{
					.img{
						img{
							-webkit-box-shadow: 0px 6px 31px -6px blue;
							-moz-box-shadow: 0px 6px 31px -6px blue;
							box-shadow: 0px 6px 31px -6px blue;
						}
					}
				}	
			}
			&.bkm{
				&:hover{
					.img{
						img{
							-webkit-box-shadow: 0px 6px 31px -6px red;
							-moz-box-shadow: 0px 6px 31px -6px red;
							box-shadow: 0px 6px 31px -6px red;
						}
					}
				}	
			}
			&.tem{
				&:hover{
					.img{
						img{
							-webkit-box-shadow: 0px 6px 31px -6px #154c6b;
							-moz-box-shadow: 0px 6px 31px -6px #154c6b;
							box-shadow: 0px 6px 31px -6px #154c6b;
						}
					}
				}	
			}
			&.car{
				&:hover{
					.img{
						img{
							-webkit-box-shadow: 0px 6px 31px -6px black;
							-moz-box-shadow: 0px 6px 31px -6px black;
							box-shadow: 0px 6px 31px -6px black;
						}
					}
				}	
			}
			.text-b{
				position: absolute;
				width: calc(100% - 60px);
				height: $full;
				left: 45px;
				top: 0;
				h3{
					display: block;
					color: $white;
					font-size: $font-size-l;
					margin-top:30px;
				}
				.job{
					position: absolute;
					left:0;
					bottom:30px;
					color: $white;
					font-size: $font-size-xx;
					line-height: $font-size-xx-lh;
					@media all and (max-width:992px){
						font-size:18px;
						line-height: 20px;
						bottom: 10px;
					}
					span{
						display:block;
					}
				}
			}
			.img{
				display: block;
				img{
					position:relative;
					display:block;
					width: $full;
					@include transition(all .5s ease-in-out);
				}
			}
		}
		.btn-box{
			display: block;
			margin-top:10px;
			border-top: 1px solid #e0e0e0;
			border-bottom:  1px solid #e0e0e0;
			padding: 25px 0;
			text-align: center;
			a{
				display:inline-block;
				color: $black-1;
				font-weight:500;
				font-size: $font-size-m;
			}
		}
	}
	footer{
		display: block;
		width: $full;
		background: $jet;
		height: 80px;
		.copy-r{
			color: $white;
			height: 80px;
			display: table;
			font-size: $font-size-m;
			@media all and (min-width:360px){
				font-size: 14px;
			}
			span{
				display:table-cell;
				vertical-align: middle;
			}
		}
		.social{
			height: 80px;
			display: table;
			span{
				display:table-cell;
				vertical-align: middle;
				text-align: right;
				ul{
					display: inline-block;
					li{
						display: inline-block;
						width:20px;
						height:20px;
						position: relative;
						margin-right: 10px;
						a{
							display: block;
							position: absolute;
							left:0;
							top:0;
							width: $full;
							height: $full;
						}
						&.fb{
							background: url(../images/home/fb.png) center no-repeat;
						}
						&.tw{
							background: url(../images/home/tw.png) center no-repeat;
						}
						&.you{
							background: url(../images/home/you.png) center no-repeat;
						}
					}
				}
			}
		}
	}
	&.contact{
		
		.detail-banner{
			@media all and (max-width:767px){
				padding-top: 120px;
			}
			
			.left{
				font-size: $font-size-x;
				font-weight: normal;
				@media all and (max-width:767px){
					margin-bottom: 60px;
				}
				strong{
					font-weight: bold;
				}
			}
			.center{
				font-size: $font-size-l;
				font-weight: 300;
				@media all and (max-width:767px){
					margin-bottom: 60px;
				}
				strong{
					font-weight: bold;
					font-size: $font-size-x;
				}
			}
			.right{
				font-size: $font-size-l;
				font-weight: 300;
				@media all and (max-width:767px){
					margin-bottom: 60px;
				}
				strong{
					font-weight: bold;
					font-size: $font-size-x;
				}
			}
		}
		.map{
			height: 350px;
		}
		.form-b{
			display: block;
			width: $full;
			padding-top: 90px;
			padding-bottom:100px;
			background: $jet;
			.text{
				color: $white;
				font-size: $font-size-x;
				margin-left: 90px;
				@media all and (max-width:767px){
					margin-left: 0;
					margin-bottom: 30px;
				}
				strong{
					font-size: $font-size-x;
				}
			}
			.form{
				.form-group{
					display: block;
					position:relative;
					margin-bottom: 30px;
					&:last-child{
						margin-bottom:0;
					}
					input{
						background: transparent;
						border:0;
						border-bottom: 1px solid $white;
						color: $white;
						width: 100%;
						height:30px;
						font-size:14px;
					}
					label{
						position: absolute;
						font-weight: 300;
						font-size: 14px;
						color: $white;
						bottom:5px;
						left: 2px;
						@include transition(all .3s ease-in-out);
						&.active{
							font-size: 10px;
							bottom:20px;
						}
					}
				}
				.btn-box{
					display: block;
					a{
						display: block;
						width: 100%;
						background: #000;
						color:$white;
						font-size: $font-size-m;
						height: 55px;
						text-align: center;
						line-height: 55px;
						&:hover{
							color: $jet;
						}
					}
				}
			}
		}
	}
	.banner-box{
		display: table;
		width: 100%;
		background: url("../images/home/eyes.jpg") no-repeat;
		@include background-size(cover);
		height: 353px;
		text-align: center;
		.text{
			display: table-cell;
			vertical-align: middle;
			width:100%;
		}
		h4{
			display: block;
			color: $white;
			font-size:$font-size-x;
			line-height: $font-size-x;
			width:100%;
		}
		p{
			display: block;
			width:100%;
			a{
				color: $white;
				font-size:$font-size-l;
				line-height: $font-size-l;
				@include opacity(0.5);
				margin-top: 10px;
				
			}
			
		}
	}
	.detail-banner{
		display:block;
		width: $full;
		min-height: 505px;
		background: #fff;
		padding-top: 260px;
		border-bottom: 4px solid $jet;
		@media all and (max-width:360px){
			min-height:300px;
			padding-top: 140px;
		}
		&.about{
			background: url("../images/home/eyes-about.jpg") no-repeat;
			@include background-size(cover);
		}
		&.works{
			border: 0;
			.text{
				h1{
					color: #000;
					&:before{
						background: #000;
					}
				}
			}
			
		}
		&.detail{
			.text{
				h1{
					color: #fff;
					text-align: left;
					font-size: 30px;
					line-height: 30px;
					span{
						font-weight: 300;
						font-size: 16px;
						margin-top: 30px;
						display: inline-block;
					}
					&:before{
						background: #fff;
						right: initial;
						left: 0;
					}
				}
			}
		}
		.text{

			h1{
				display:block;
				width: $full;
				font-size: $font-size-x;
				line-height: $font-size-x-lh;
				color: $white;
				text-align: center;
				font-weight: normal;
				position: relative;
				strong{
					font-weight: bold;
				}
				@media all and (max-width:360px){
					font-size: 20px;
					line-height: 22px;
				}
				&:before{
					content:"";
					width: 8px;
					height: 8px;
					background: $white;
					@include border-radius(50px);
					position: absolute;
					left:0;
					right:0;
					margin: 0 auto;
					top: -20px;
				}
			}
		}
		
	}
	.about-text{
		padding-top: 120px;
		padding-bottom: 180px;
		.title{
			color: #232323;
			font-size: $font-size-x;
			margin-left: 90px;
			@media all and (max-width:767px){
				margin-left: 0;
				margin-bottom: 30px;
			}
			strong{
				font-size: $font-size-x;
			}
		}
		.text{
			font-weight: 300;
			font-size: $font-size-l;
			line-height: $font-size-xx-lh;
			color: #232323;
		}
	}
	.client{
		display: block;
		padding-top: 90px;
		padding-bottom: 30px;
		background: #ececec;
		.title{
			color: #232323;
			font-size: $font-size-x;
			margin-left: 90px;
			@media all and (max-width:767px){
				margin-left: 0;
				margin-bottom: 30px;
			}
			strong{
				font-size: $font-size-x;
			}
		}
		.item{
			ul{
				display: block;
				width: 100%;
				li{
					display: inline-block;
					width: 33%;
					float: left;
					margin-bottom: 80px;
					height:60px;
					@media all and (max-width:420px){
						width: 50%;
						text-align: center;
					}
					.img{
						display: table;
						width: 100%;
						height:60px;
						img{
							display: table-cell;
							vertical-align: middle;
						}
					}
				}
			}
		}
	}
	.detail-work{
		background: none !important;
		.filter{
			display:block;
			margin-left: 15px;
			margin-bottom: 55px;
			li{
				display: inline-block;
				margin-right: 20px;
				float: left;
				a{
					font-size: $font-size-l;
					color: #969696;
					&:hover{
						color: #000;
					}
				}
			}
		}
	}
	.sinekafa{
		background: url(../images/sinekafa/sinekafa-detail-1.jpg) center no-repeat #b9202d;
		height: 700px;
		border-bottom: 4px solid #0e80e1 !important;
		.download{
			display: block;
			margin-top: 43px;
			li{
				display: inline-block;
				&:first-child{
					margin-right: 13px;
				}
			}
		}
	}
	.works-detail-page{
		display: block;
		width: 100%;
		.c-text{
			display: block;
			width: 100%;
			padding-top: 110px;
			padding-bottom: 125px;
			.title{
				padding-left: 100px;
				h2{
					display: block;
					font-size: 26px;
					font-weight: 26px;
					color: #232323;
					margin-bottom: 50px;
					b{
						font-weight: bold;
					}
				}
				.item{
					display: block;
					width: 100%;
					font-size: 16px;
					line-height: 16px;
					color: #232323;
					margin-bottom: 30px;
					&:last-child{
						margin-bottom: 0;
					}
					b{
						font-weight: bold;
						font-size: 18px;
						line-height: 18px;
						display: block;
						margin-top: 10px;
					}
				}
			}
			.text{
				p{
					font-size: 16px;
					line-height: 31px;
					color: #232323;
					max-width: 420px;
				}
			}
		}
		.detail-img{
			background: #b9222d;
			text-align: center;
			padding-top: 95px;
			padding-bottom: 95px;
		}
		.detail-img-v1{
			background: #b9222d;
			text-align: left;
			padding-top: 55px;
			border-bottom: 1px solid #fff;
		}
		.v-text{
			display: block;
			width: 100%;
			padding-top: 100px;
			h2{
				display: block;
				font-size: 26px;
				font-weight: 26px;
				color: #232323;
				margin-bottom: 50px;
				text-align: center;
				b{
					font-weight: bold;
				}
			}
			p{
				font-size: 16px;
				line-height: 31px;
				color: #232323;
				margin-bottom: 90px;
				text-align: center;
				span{
					max-width: 420px;
					display: inline-block;
				}
			}
			.video-b{
				display: block;
				text-align: center;
				iframe{
					width: 880px;
					margin-bottom: 180px;
				}
			}
		}
		.nav{
			display: block;
			.item{
				position: relative;
				.text{
					position:absolute;
					right: 100px;
					top: calc(50%);
					font-size: 26px;
					line-height: 26px;
					text-align: right;
					color: #fff;
					a{
						color: #fff;
						text-decoration: none;
					}
					i{
						font-style: normal;
						display: block;
						font-size: 18px;
						@include opacity(.5);
					}
				}
				&:last-child{
					.text{
						position:absolute;
						left: 100px;
						text-align: left;
					}
				}
			}
		}
	}
	





}
.noscroll{
	.logo{
		img{
			display: block !important;
		}
		.bl{
			display: none !important;
		}
	}
}
//------------------------------------------------------------
// = MEDIA QUERIES
//------------------------------------------------------------
@media screen and (max-width: $screen-md-max) {
	@import "tablet-landscape";
}

@media screen and (max-width: $screen-sm-max) {
	@import "tablet-portrait";
}

@media screen and (max-width: $screen-xs-max) {
	@import "phone";
}