//------------------------------------------------------------
// = VARIABLES
//------------------------------------------------------------
$images: "../images/layout";

$font: 					Arial, Helvetica, sans-serif;
$font-bold: 			Arial, Helvetica, sans-serif;

$font-size-sm:    12px;
$font-size-m:     16px;
$font-size-l:     18px;
$font-size-x:  	  26px;
$font-size-x-lh:  31px;
$font-size-xx:    28px;
$font-size-xx-lh: 31px;
$font-size-xl: 	  32px;
$font-size-xl-lh: 38px;

$black: 			#000;
$black-1: 			#232323;
$white: 			#fff;
$jet:				#369fd9;

$full : 100%;

